<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddabong.TripFlow.member.dao.IMemberRepository">

    <!-- 회원 가입 -->
    <insert id="joinMember" parameterType="com.ddabong.TripFlow.member.model.Member">
        INSERT INTO MEMBER
            (member_id, user_name, nick_name, user_id, password,
            email, phone_number, birth, created_time, recess_access)
        VALUES
            (#{memberId}, #{userName}, #{nickName}, #{userId}, #{password},
            #{email}, #{phoneNumber}, #{birth}, #{createdTime}, #{recessAccess})
    </insert>

    <!-- 중복 닉네임 확인 -->
    <select id="isExistByNickName" parameterType="String">
        SELECT COUNT(*) FROM MEMBER
        WHERE nick_name = #{nickName}
    </select>

    <!-- 중복 아이디 확인 -->
    <select id="isExistByUserId" parameterType="String">
        SELECT COUNT(*) FROM MEMBER
        WHERE user_id = #{userId}
    </select>

    <!-- 중복 이메일 확인 -->
    <select id="isExistByEmail" parameterType="String">
        SELECT COUNT(*) FROM MEMBER
        WHERE email = #{email}
    </select>

    <!-- 중복 전화번호 확인 -->
    <select id="isExistByPhoneNumber" parameterType="String">
        SELECT COUNT(*) FROM MEMBER
        WHERE phone_number = #{phoneNumber}
    </select>
</mapper>