<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddabong.tripflow.image.dao.IPostImageRepository">
    <!-- 이미지 저장 -->
    <insert id="saveImage" parameterType="com.ddabong.tripflow.image.model.PostImage">
        INSERT INTO POST_IMAGE
            (imageid, postid, travelid)
        VALUES
            (#{imageId}, #{postId}, #{travelId})
    </insert>

</mapper>