<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddabong.tripflow.post.dao.IPostRepository">
    <!-- memberid 확인 -->
    <select id="getMemberIdByUserId" parameterType="String" resultType="Long">
        SELECT memberid FROM MEMBER
        WHERE userid = #{userIdByJWT}
    </select>

    <!-- 게시글 저장 -->
    <insert id="saveReview" parameterType="com.ddabong.tripflow.post.model.Post">
        INSERT INTO POST
            (postid, travelid, memberid, content, createdtime)
        VALUES
            (#{postId}, #{travelId}, #{memberId}, #{content}, #{createdTime})
    </insert>

    <!-- 게시글 id 확인 -->
    <select id="getPostIdByTravelId" parameterType="Long" resultType="Long">
        SELECT postid FROM POST
        WHERE travelid = #{travelId}
    </select>

    <!-- 여행 일정 id 확인 -->
    <select id="getTravelIdByPostId" parameterType="Long" resultType="Long">
        SELECT travelid FROM POST
        WHERE postid = #{postId}
    </select>


    <!-- 나의 후기 목록 확인 -->
    <select id="getMyReview" parameterType="Long" resultType="com.ddabong.tripflow.post.model.Post">
        SELECT * FROM POST
        WHERE memberid = #{memberid}
        ORDER BY createdtime DESC
    </select>
</mapper>